body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
    font-size: 16px;
    line-height: 1.5;
  }
  
  hr{ 
    height:0px;
    border:1px solid #eeeeee;
    margin-bottom: 50px;
  }

  textarea{
    width:95%;
    height:auto;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #AAA;
    border-radius: 4px;
    padding: 6px 12px;
    line-height: 1.4;
    color: #555;
  }

  .container{
    max-width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  h1{ text-align: center; font-size: 36px;}

  h1, h2, h3, h4{
      margin-top: 20px;
    margin-bottom: 10px;
    color:#333;
  }
  h2{margin-top: 50px;}
  h4{ margin-bottom: 4px; margin-top: 30px;}

  div.canvas {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  div.error{
    margin-top: 20px;;
    border: 4px solid rgba(199, 6, 6, 0.637);
    padding: 10px;
    text-align: center;
    font-weight: 600;
    color:  rgba(199, 6, 6, 0.637);
    display:none;
  }

  .tab {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ccc;
    cursor: pointer;
  }

  .tab.active {
    background-color: rgb(19, 149, 201);
    color: #fff;
  }

  .tabcontent {
    display: none;
    padding: 20px;
    background-color: #f9f9f9;
    border-top: 2px solid rgb(19, 149, 201) ;
  }

  a, a:active, a:visited{color: rgb(19, 149, 201); font-size: 14px;;}

  button{
    font-size: 16px; padding: 7px;
  }

  div.output{
    display: block;
    width: 95%;
    border: 2px solid rgb(19, 149, 201);
    padding: 4px;
    border-radius: 5px;
    font-size: 14px;
    font-family: monospace;
    background-color: rgba(19, 149, 201, 0.088);
    color: black;
    margin-top: 20px;
  }

  div#output1, div#output2{ display: none;}